---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WorkingExp from "../components/WorkingExp.astro";

const headerInfo = {
	name: "汤卓轩",
	name_en: "Zhuoxuan Tang",
	post: "前端开发工程师",
	base: "广州",
	gender: "男",
	birth: "1996.04",
	university: "广东医科大学",
	major: "信息管理与信息系统",
	education: "本科",
	graduation: "毕业于 2018",
	blog: {
		text: "Nauxscript",
		preText: "Blog · ",
		value: "https://Nauxscript.gitee.io",
	},
	gitee: {
		text: "Nauxscript",
		preText: "Gitee · ",
		value: "https://gitee.com/Nauxscript",
	},
	github: {
		text: "Nauxscript",
		preText: "Github · ",
		value: "",
	},
	mail: {
		text: "nauxscript@gmail.com",
		preText: "",
		value: "nauxscript@gmail.com",
	},
	tel: {
		text: "153****1980 (8am - 8pm)",
		preText: "",
		value: "15384451980 (8am - 8pm)",
	},
};

---

<Layout title="Rusume">
	<main
		class="resume-main h-full w-full flex justify-center items-start sm:py-12 bg-gray-100 bg-backgrondimg dark:bg-gray-600 dark:bg-dark-backgrondimg relative"
	>
		<!-- <h2 class="text-red">Astro project base in Unocss</h2> -->
		<div
			id="print-content"
			class="resume-content flex flex-col justify-start items-center rounded-md overflow-hidden shadow-md"
		>
			<Header baseInfo={headerInfo}></Header>
			<div class="resume-body dark:bg-gray-700 bg-white flex flex-col sm:flex-row print:flex-row flex-1 w-full px-8">
				<div class="section-col flex flex-col items-start w-full print:block sm:w-1/2 print:w-1/2">
					<WorkingExp></WorkingExp>
					<!-- <%- require('./layouts/workingExp.ejs')({workings}) %> -->
					<!-- <%- require('./layouts/internshipExp.ejs')({internship}) %> -->
				</div>
				<div class="section-col flex flex-col items-start w-full sm:w-1/2 print:w-1/2">
					<!-- <%- require('./layouts/skills.ejs')({skills}) %> -->
					<!-- <%- require('./layouts/selfProjects.ejs')({selfProjects}) %> -->
				</div>
			</div>
		</div>
		<!-- <h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			Check out the <code>src/pages</code> directory to get started.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Chat"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
	</main>
</Layout>

<style>
	/* :root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	} */



	* {
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

.dark {
  --svgBgColor: #F3F4F6;
}

.resume-content {
  width: 1024px;
  min-height: 1440px;
}

p strong {
  /* @apply mx-1 z-[2] bg-gradient-to-l from-blue-200 to-blue-200 relative overflow-hidden bg-pos-strong; */
  margin: 0 4px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background:linear-gradient(to left, #BFDBFE, #BFDBFE) no-repeat 8px 8px;
}

.dark p strong {
  /* @apply bg-gradient-to-l from-gray-500 to-gray-500 bg-no-repeat bg-pos-strong; */
  background:linear-gradient(to left, #6B7280, #6B7280) no-repeat 8px 8px;
}

p em {
  font-family: Monaco,Menlo,'Helvetica Neue',Helvetica,'PingFang SC','Microsoft YaHei','微软雅黑',Arial,sans-serif;
  font-size: 80%;
  line-height: 2rem;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin: 0 3px;
  padding: 2px 4px;
  background-color: #f6f6f6;
}

p> strong:first-child {
  margin-left: 0;
  padding-left: 0;
}

.company-project-desc p {
  @apply leading-7 text-sm dark:text-gray-100;
}

.company-project-desc> p:first-child > strong:first-child {
  @apply text-base;
}

/* .company-project-name:hover img {
  @apply block w-16 h-16 top-0 left-full transition-all border border-blue-200;
} */

.dark em {
  @apply text-gray-600;
}

.btn-group  {
  bottom: 2.4rem;
  left: calc(50% + 512px + 1.2rem);
}

.me-button {
  /* @apply w-12 h-12 my-2 box-content  border-2 border-blue-400 rounded-full bg-white text-blue-400 hover:text-white dark:bg-gray-700 dark:hover:bg-blue-400 dark:hover:text-gray-700 hover:bg-blue-400 transition-colors cursor-pointer; */
  @apply w-12 h-12 my-2 box-content flex justify-center items-center relative border-2 border-blue-400 rounded-full bg-white text-blue-400 hover:text-white dark:bg-gray-700 dark:hover:bg-blue-400 dark:hover:text-gray-700 hover:bg-blue-400 transition-colors cursor-pointer
}

.dark .dark-icon {
  @apply invisible;
}

.dark .light-icon {
  @apply visible;
}

.skill-list-item-title {
  @apply relative pl-4;
}

.skill-list-item-title::before {
  content: " ";
  @apply w-1 h-1 rounded-full bg-blue-400 top-[0.825rem] left-1 absolute;
}


/* print style */
@media print {
  @page {
    background-color: #000;
    /* margin: 0;
    padding: 0; */
    size: A4 portrait;
    -webkit-print-color-adjust:exact;
    color-adjust: exact;
  }
  body {
    /* zoom: .7; */
  }
  .page-break {
    page-break-before: always;
    orphans: 5;
  }
  .resume-header, .resume-body, .module-header span {
    -webkit-print-color-adjust:exact;
    color-adjust: exact;
  }
}
</style>
