---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WorkingExp from "../components/WorkingExp.astro";

const headerInfo = {
	name: "汤卓轩",
	name_en: "Zhuoxuan Tang",
	post: "前端开发工程师",
	base: "广州",
	gender: "男",
	birth: "1996.04",
	university: "广东医科大学",
	major: "信息管理与信息系统",
	education: "本科",
	graduation: "毕业于 2018",
	blog: {
		text: "Nauxscript",
		preText: "Blog · ",
		value: "https://Nauxscript.gitee.io",
	},
	gitee: {
		text: "Nauxscript",
		preText: "Gitee · ",
		value: "https://gitee.com/Nauxscript",
	},
	github: {
		text: "Nauxscript",
		preText: "Github · ",
		value: "",
	},
	mail: {
		text: "nauxscript@gmail.com",
		preText: "",
		value: "nauxscript@gmail.com",
	},
	tel: {
		text: "153****1980 (8am - 8pm)",
		preText: "",
		value: "15384451980 (8am - 8pm)",
	},
};

---

<Layout title="Rusume">
	<main
		class="resume-main h-full w-full flex justify-center items-start sm:py-12 bg-gray-100 bg-backgrondimg dark:bg-gray-600 dark:bg-dark-backgrondimg relative"
	>
		<!-- <h2 class="text-red">Astro project base in Unocss</h2> -->
		<div
			id="print-content"
			class="resume-content flex flex-col justify-start items-center rounded-md overflow-hidden shadow-md"
		>
			<Header baseInfo={headerInfo}></Header>
			<div class="resume-body dark:bg-gray-700 bg-white flex flex-col sm:flex-row print:flex-row flex-1 w-full px-8">
				<div class="section-col flex flex-col items-start w-full print:block sm:w-1/2 print:w-1/2">
					<WorkingExp></WorkingExp>
					<!-- <%- require('./layouts/workingExp.ejs')({workings}) %> -->
					<!-- <%- require('./layouts/internshipExp.ejs')({internship}) %> -->
				</div>
				<div class="section-col flex flex-col items-start w-full sm:w-1/2 print:w-1/2">
					<!-- <%- require('./layouts/skills.ejs')({skills}) %> -->
					<!-- <%- require('./layouts/selfProjects.ejs')({selfProjects}) %> -->
				</div>
			</div>
		</div>
		<!-- <h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			Check out the <code>src/pages</code> directory to get started.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Chat"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	/* main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	} */

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
