---
import type { BaseInfo } from "../types";

export interface Props {
  baseInfo: BaseInfo;
}

const props = Astro.props as Props
---

<header class="resume-header bg-blue-400 w-full px-10 py-8 text-white">
  <div
    class="w-full resume-header-main py-2 flex flex-col sm:flex-row sm:justify-between sm:items-center print:flex-row print:justify-between print:items-center border-b-2 border-blue-200 border-opacity-75"
  >
    <div
      class="w-full sm:w-1/2 print:w-1/2 flex flex-col sm:flex-row print:flex-row"
    >
      <h1 class="me-name text-4xl flex">{props.baseInfo.name}</h1>
      <h1 class="me-name text-4xl flex items-center">
        <small class="hidden print:flex sm:flex"
          ><small>&nbsp;/&nbsp;</small>
        </small><small><small>{props.baseInfo.name_en}</small></small>
      </h1>
    </div>
    <h3 class="me-title text-2xl">
      {props.baseInfo.post}
      <small>
        <small class="inline-flex items-center">
          / <i class="i-mdi-map-marker-outline text-base"></i>{props.baseInfo.base}
        </small>
      </small>
    </h3>
  </div>
  <div
    class="resume-header-ohter flex flex-col sm:flex-row print:flex-row py-4 flex-1"
  >
    <ul
      class="me-info sm:w-1/2 sm:h-full print:w-1/2 print:h-full flex flex-col justify-start sm:items-start print:items-start mb-2 sm:mb-0 print:mb-0"
    >
      <li>{props.baseInfo.gender} / {props.baseInfo.birth}</li>
      <li>{props.baseInfo.university}</li>
      <li>{props.baseInfo.major}</li>
      <li>{props.baseInfo.education} / {props.baseInfo.graduation}</li>
    </ul>
    <ul
      class="me-link sm:w-1/2 sm:h-full print:w-1/2 print:h-full flex flex-col justify-start sm:items-end print:items-end"
    >
      <li
        class="flex cursor-pointer linkto items-center group transition-colors hover:text-blue-200 { props.baseInfo.blog.value ? '' : 'hidden' }"
      >
        <a
          class="mr-2 print:hidden"
          href="{ props.baseInfo.blog.value ? props.baseInfo.blog.value : '' }"
          target="_blank"
          >{props.baseInfo.blog.preText + props.baseInfo.blog.text}
        </a>
        <a
          class="mr-2 hidden print:flex"
          href="{ props.baseInfo.blog.value ? props.baseInfo.blog.value : '' }"
          target="_blank"
          >{props.baseInfo.blog.preText + props.baseInfo.blog.value}
        </a>
        <i class="i-mdi-web text-xl"></i>
      </li>
      <li
        class="flex cursor-pointer linkto items-center group transition-colors hover:text-blue-200 { props.baseInfo.github.value ? '' : 'hidden' }"
      >
        <a
          class="mr-2 print:hidden"
          href="{ props.baseInfo.github.value ? props.baseInfo.github.value : '' }"
          target="_blank"
          >{props.baseInfo.github.preText + props.baseInfo.github.text}
        </a>
        <a
          class="mr-2 hidden print:flex"
          href="{ props.baseInfo.github.value ? props.baseInfo.github.value : '' }"
          target="_blank"
          >{props.baseInfo.github.preText + props.baseInfo.github.value}
        </a>
        <i class="i-mdi-github text-xl"></i>
      </li>
      <li
        class="flex cursor-pointer linkto items-center group transition-colors hover:text-blue-200 { props.baseInfo.mail.value ? '' : 'hidden' }"
      >
        <a
          class="mr-2 print:hidden"
          href="{ props.baseInfo.mail ? 'mailto: ' + props.baseInfo.mail.value : '' }"
          >{props.baseInfo.mail.preText + props.baseInfo.mail.text}
        </a>
        <a
          class="mr-2 hidden print:flex"
          href="{ props.baseInfo.mail ? 'mailto: ' + props.baseInfo.mail.value : '' }"
          >{props.baseInfo.mail.preText + props.baseInfo.mail.value}
        </a>
        <i class="i-mdi-gmail text-xl"></i>
      </li>
      <li
        class="flex cursor-pointer linkto items-center group transition-colors hover:text-blue-200 { props.baseInfo.tel.value ? '' : 'hidden' } }"
      >
        <a
          class="mr-2 print:hidden"
          href="{ props.baseInfo.tel ? 'tel: ' + props.baseInfo.tel.value : '' }"
          >{props.baseInfo.tel.preText + props.baseInfo.tel.text}
        </a>
        <a
          class="mr-2 hidden print:flex"
          href="{ props.baseInfo.tel ? 'tel: ' + props.baseInfo.tel.value : '' }"
          >{props.baseInfo.tel.preText + props.baseInfo.tel.value}
        </a>
        <i class="i-mdi-cellphone text-xl"></i> 
      </li>
    </ul>
  </div>
</header>
